@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
html {
  scroll-behavior: smooth;
  /* overscroll-behavior-y: none; */
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-color: black;
  overflow-x: hidden;
}
section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
}
.master-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
}
.cap-sec {
  height: 100vh;
  width: 100vw;
}
.cap-sec-info {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/pc-headquarters-updated.jpg");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.cap-container {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
.cap-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pc-logo {
  width: 60%;
  margin-left: 50%;
  margin-top: 25px;
  transform: translate(-50%);
}
h2,
h3 {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}
a {
  color: white;
  padding: 5px;
  font-family: "Lato", sans-serif;
}
.unmute {
  position: relative;
  left: 50%;
  top: 50%;
}
.mute {
  position: relative;
  left: 55%;
  top: 50%;
}
.videoDiv {
  width: 100%;
  height: 100%;
  margin-top: -22px;
}
#pc-emblem {
  width: 5%;
  position: fixed;
  top: 15px;
  left: 15px;
}
#pc-info-link {
  margin: 0;
  padding: 0;
}
.link-grid {
  margin-top: 50px;
  align-self: stretch;
  margin-left: 10px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}
.link-col-header {
  color: white;
  font-weight: bolder;
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  text-align: left;
  font-size: 20px;
}

.col-1,
.col-2,
.col-3 {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33.33333%;
  overflow-y: auto;
}
.client-logo-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.client-logo {
  width: 20%;
}
