* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-color: black;
  overflow-x: hidden;
}
.cap-sec {
  height: 100vh;
  width: 100vw;
}
.cap-container {
  width: 100%;
  height: 100%;
}
.cap-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.pc-logo {
  width: 70%;
  margin-left: 50%;
  margin-top: 25px;
  transform: translate(-50%);
}
h2 {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.unmute {
  position: relative;
  left: 50%;
  top: 50%;
}
.mute {
  position: relative;
  left: 55%;
  top: 50%;
}
.videoDiv {
  width: 100%;
  height: 100%;
  margin-top: -22px;
}
#pc-emblem {
  width: 8%;
  position: fixed;
  top: 15px;
  left: 15px;
}
